In [29]:
import sqlalchemy as alchemy
alchemy.__version__
from sqlalchemy import create_engine

In [30]:
engine = create_engine('postgresql+psycopg2://postgres:postgres@localhost:5432/tp3', echo=True)
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Date
Base = declarative_base()

In [31]:
class Customer(Base):
    __tablename__ = 'Customer'
    
    code = Column(Integer, primary_key=True)
    name = Column(String)
    address = Column(String)
    phone = Column(String)
    bday = Column(Date)
    gender = Column(String)
    
    #Para formateo de objeto
    def __repr___(self):
        return "<Customer(name='%s', address='%s', phone='%s', gender=%s')>"%(self.name, self.address, self.phone, self.gender)

In [32]:
Base.metadata.create_all(engine)

2017-08-23 17:38:08,489 INFO sqlalchemy.engine.base.Engine select version()
2017-08-23 17:38:08,495 INFO sqlalchemy.engine.base.Engine {}
2017-08-23 17:38:08,499 INFO sqlalchemy.engine.base.Engine select current_schema()
2017-08-23 17:38:08,501 INFO sqlalchemy.engine.base.Engine {}
2017-08-23 17:38:08,504 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2017-08-23 17:38:08,507 INFO sqlalchemy.engine.base.Engine {}
2017-08-23 17:38:08,516 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2017-08-23 17:38:08,522 INFO sqlalchemy.engine.base.Engine {}
2017-08-23 17:38:08,527 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2017-08-23 17:38:08,532 INFO sqlalchemy.engine.base.Engine {}
2017-08-23 17:38:08,536 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-08-23 17:38:08,540 INFO sqlalchemy.engine.base.Engine {'name': u'Customer'}
2017-08-23 17:38:08,544 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Customer" (
	code SERIAL NOT NULL,
	name VARCHAR,
	address VARCHAR,
	phone VARCHAR,
	bday DATE,
	gender VARCHAR,
	PRIMARY KEY (code)
)


2017-08-23 17:38:08,545 INFO sqlalchemy.engine.base.Engine {}
2017-08-23 17:38:08,705 INFO sqlalchemy.engine.base.Engine COMMIT

In [40]:
cliente = Customer(name='Nicolas', address='Julio A Roca', phone='123456789', bday='2017/08/22', gender='m')

In [35]:
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=engine)

In [41]:
session = Session()

In [42]:
session.add(cliente)

In [43]:
session.commit()

2017-08-23 17:45:16,878 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-08-23 17:45:16,881 INFO sqlalchemy.engine.base.Engine INSERT INTO "Customer" (name, address, phone, bday, gender) VALUES (%(name)s, %(address)s, %(phone)s, %(bday)s, %(gender)s) RETURNING "Customer".code
2017-08-23 17:45:16,883 INFO sqlalchemy.engine.base.Engine {'bday': '2017/08/22', 'gender': 'm', 'address': 'Julio A Roca', 'name': 'Nicolas', 'phone': '123456789'}
2017-08-23 17:45:16,892 INFO sqlalchemy.engine.base.Engine COMMIT

In [44]:
for instance in session.query(Customer).order_by(Customer.code):
    print(instance.name, instance.address)

2017-08-23 17:45:19,641 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-08-23 17:45:19,647 INFO sqlalchemy.engine.base.Engine SELECT "Customer".code AS "Customer_code", "Customer".name AS "Customer_name", "Customer".address AS "Customer_address", "Customer".phone AS "Customer_phone", "Customer".bday AS "Customer_bday", "Customer".gender AS "Customer_gender"
FROM "Customer" ORDER BY "Customer".code
2017-08-23 17:45:19,654 INFO sqlalchemy.engine.base.Engine {}
(u'Dami\xe1n', u'Julio A Roca')
(u'Nicolas', u'Julio A Roca')

In [47]:
# Import all libraries needed for the tutorial

# General syntax to import specific functions in a library: 
##from (library) import (specific library function)
from pandas import DataFrame, read_csv

# General syntax to import a library but no functions: 
##import (library) as (give the library a nickname/alias)
import matplotlib.pyplot as plt
import pandas as pd #this is how I usually import pandas
import sys #only needed to determine Python version number
import matplotlib #only needed to determine Matplotlib version number

# Enable inline plotting
%matplotlib inline

In [48]:
print('Python version ' + sys.version)
print('Pandas version ' + pd.__version__)
print('Matplotlib version ' + matplotlib.__version__)

Python version 2.7.12 (default, Nov 19 2016, 06:48:10)
[GCC 5.4.0 20160609]
Pandas version 0.20.3
Matplotlib version 2.0.0

In [49]:
location = r'C:\Users\fdman\Desktop/MOCK_DATA-customer.csv'
df = pd.read_csv(location)

IOError: File C:\Users\fdman\Desktop/MOCK_DATA-customer.csv does not exist

In [21]:
df

,name,address,phone,bday,gender
0,Bonny,07324 Montana Way,41-(625)137-9314,1968-05-20 16:31:20,Female
1,Brianna,839 Onsgard Court,359-(623)793-6068,1964-03-23 14:32:24,Female
2,Shawna,520 Moose Avenue,970-(249)951-8657,1979-08-19 06:18:46,Female
3,Allin,6 Harbort Street,996-(945)197-3282,1971-10-28 05:29:53,Male
4,Ethelind,22 Dixon Point,63-(878)360-5280,1989-08-01 07:53:37,Female
5,Rhianna,0 Ramsey Hill,86-(858)285-9284,1986-04-20 11:34:09,Female
6,Julius,0271 Dahle Alley,86-(750)227-5599,1979-01-07 19:31:10,Male
7,Thorin,16748 Hansons Drive,351-(237)922-4231,1989-02-10 04:05:22,Male
8,Bondon,32760 Browning Crossing,1-(182)566-6482,1952-10-07 01:12:22,Male
9,Hortense,02000 Glacier Hill Parkway,62-(697)825-8605,2001-06-02 13:55:36,Female
10,Willy,869 Bartillon Plaza,7-(367)235-5972,2004-09-27 09:10:59,Male
11,Dunn,27 Crownhardt Circle,62-(370)196-0774,1964-08-31 18:56:35,Male
12,Mylo,08729 Paget Crossing,380-(636)202-0818,2004-01-08 16:39:36,Male
13,Kellia,1256 American Terrace,254-(824)749-8493,1992-07-11 14:12:26,Female
14,Reinhold,24 Fulton Alley,65-(859)351-8266,1953-09-04 09:40:27,Male
15,Dar,280 Norway Maple Crossing,52-(684)311-8999,1967-11-14 23:13:27,Male
16,Waldemar,1 Haas Center,242-(860)916-7147,1995-07-29 04:30:07,Male
17,Merrick,715 Bartelt Court,46-(980)817-5014,1994-09-03 06:08:35,Male
18,Nicky,5 Jenna Terrace,598-(160)637-5452,1998-03-12 03:09:37,Male
19,Bucky,7617 Cottonwood Crossing,58-(125)198-3239,1974-09-26 19:55:19,Male
20,Bary,975 Buena Vista Crossing,86-(885)902-4229,1971-09-02 19:25:31,Male
21,Susana,88176 Spohn Pass,972-(838)115-3370,1996-02-04 18:18:30,Female
22,Lynne,932 Graedel Parkway,86-(607)167-2462,1985-02-14 15:11:56,Female
23,Kesley,709 Prentice Trail,66-(149)611-3081,1967-05-21 13:01:59,Female
24,Brandtr,85758 Colorado Parkway,63-(926)960-3097,1968-05-01 16:08:04,Male
25,Adham,77748 Rigney Avenue,86-(506)839-5544,1964-07-09 03:45:44,Male
26,Neil,53484 Walton Alley,420-(783)261-0320,1969-03-16 08:58:54,Male
27,Mischa,3699 Farragut Avenue,86-(369)187-5035,1981-04-07 16:15:15,Male
28,Caril,55 Maywood Drive,86-(892)950-5422,1982-04-22 19:20:43,Female
29,Suki,2968 Browning Terrace,966-(244)917-6545,2008-10-29 18:21:41,Female
...,...,...,...,...,...
970,Amitie,03 Coolidge Junction,62-(913)354-2970,1952-04-25 04:25:42,Female
971,Elora,7249 Annamark Alley,63-(352)554-2136,1962-10-19 20:31:35,Female
972,Pancho,2246 Arkansas Park,63-(460)311-2416,1974-01-23 05:44:12,Male
973,Page,6526 Valley Edge Crossing,380-(803)146-3102,1999-09-24 10:11:58,Male
974,Merell,6 Northland Plaza,47-(784)226-0680,1970-12-22 05:59:31,Male
975,Roanna,403 Dottie Place,86-(905)471-9210,2002-02-20 20:27:57,Female
976,Tanitansy,1269 Redwing Crossing,86-(913)369-9213,2000-05-11 01:45:01,Female
977,Englebert,6141 Corscot Plaza,389-(526)720-2440,2001-10-19 10:42:24,Male
978,Eduino,71 Redwing Alley,509-(634)878-7619,1996-09-26 13:01:30,Male
979,Valera,9590 Daystar Parkway,92-(780)326-6786,1969-01-22 07:21:22,Female
980,Saunders,0 Hoffman Terrace,93-(725)198-3719,2007-03-31 20:11:50,Male
981,Randy,830 Heffernan Road,62-(871)563-5621,1986-02-11 08:27:05,Male
982,Roddie,4 Fairview Place,86-(553)966-6166,1988-01-24 03:34:00,Male
983,Archibold,90 Jenna Crossing,86-(702)632-7461,1968-09-09 06:43:21,Male
984,Brander,743 Golden Leaf Circle,675-(819)726-0667,1972-03-23 10:32:59,Male
985,Babette,082 Florence Center,82-(526)548-2040,1994-01-02 09:27:57,Female
986,Ange,41194 Del Mar Avenue,98-(878)869-9548,1957-05-25 12:29:59,Male
987,Dur,2 Melrose Circle,60-(809)419-1858,1993-11-19 03:34:07,Male
988,Huntington,69 Schlimgen Center,420-(114)959-1339,2004-02-09 21:38:50,Male
989,Alexia,4 Karstens Junction,86-(687)900-1394,1982-05-13 13:35:06,Female
990,Jonathan,6 Johnson Crossing,51-(432)814-0233,1976-05-29 12:09:11,Male
991,Antonetta,89 Crownhardt Junction,62-(301)995-6681,1981-03-28 22:22:46,Female
992,Bryanty,539 Dottie Crossing,48-(881)697-9150,1971-01-17 05:45:46,Male
993,Leupold,6 Forest Run Junction,33-(563)722-1377,1988-06-08 17:39:32,Male
994,Frederick,78 Kipling Plaza,62-(998)204-7721,1992-05-20 16:02:56,Male
995,Maure,04 Del Mar Hill,86-(946)978-5269,2009-01-14 21:19:06,Female
996,Ingram,1123 Southridge Circle,1-(347)735-8554,1978-07-30 19:07:43,Male
997,Idell,927 Sullivan Circle,86-(902)640-1709,1961-11-20 23:09:57,Female
998,Albrecht,3091 Carioca Road,86-(863)911-6146,1969-05-07 15:23:28,Male
999,Justis,175 Laurel Place,7-(737)829-9661,2007-10-12 14:12:38,Male

In [ ]:
df.to_sql("Customer", engine, None, None, None)

2017-08-22 20:33:01,823 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-08-22 20:33:01,825 INFO sqlalchemy.engine.base.Engine {'name': 'Customer'}
2017-08-22 20:33:01,832 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2017-08-22 20:33:01,833 INFO sqlalchemy.engine.base.Engine {'name': 'Customer'}
2017-08-22 20:33:01,837 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind = 'r'
2017-08-22 20:33:01,838 INFO sqlalchemy.engine.base.Engine {'schema': 'public'}
2017-08-22 20:33:01,888 INFO sqlalchemy.engine.base.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in ('r', 'v', 'm', 'f')

2017-08-22 20:33:01,890 INFO sqlalchemy.engine.base.Engine {'table_name': 'Customer'}
2017-08-22 20:33:01,894 INFO sqlalchemy.engine.base.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid
            FROM pg_catalog.pg_attribute a
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2017-08-22 20:33:01,896 INFO sqlalchemy.engine.base.Engine {'table_oid': 16396}
2017-08-22 20:33:01,903 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2017-08-22 20:33:01,905 INFO sqlalchemy.engine.base.Engine {}
2017-08-22 20:33:01,909 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2017-08-22 20:33:01,911 INFO sqlalchemy.engine.base.Engine {}
2017-08-22 20:33:01,918 INFO sqlalchemy.engine.base.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2017-08-22 20:33:01,919 INFO sqlalchemy.engine.base.Engine {'table_oid': 16396}
2017-08-22 20:33:01,925 INFO sqlalchemy.engine.base.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2017-08-22 20:33:01,927 INFO sqlalchemy.engine.base.Engine {'table_oid': 16396}
2017-08-22 20:33:01,937 INFO sqlalchemy.engine.base.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2017-08-22 20:33:01,939 INFO sqlalchemy.engine.base.Engine {'table': 16396}
2017-08-22 20:33:01,944 INFO sqlalchemy.engine.base.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  i.reloptions, am.amname
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2017-08-22 20:33:01,946 INFO sqlalchemy.engine.base.Engine {'table_oid': 16396}
2017-08-22 20:33:01,952 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2017-08-22 20:33:01,953 INFO sqlalchemy.engine.base.Engine {'table_oid': 16396}
2017-08-22 20:33:01,957 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.consrc as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2017-08-22 20:33:01,960 INFO sqlalchemy.engine.base.Engine {'table_oid': 16396}
2017-08-22 20:33:01,963 INFO sqlalchemy.engine.base.Engine
DROP TABLE "Customer"
2017-08-22 20:33:01,965 INFO sqlalchemy.engine.base.Engine {}

In [ ]:
location2 = r'C:\Users\fdman\Desktop/MOCK_DATA-wine.csv'
df2 = pd.read_csv(location2)

In [2]:
df2

NameError: name 'df2' is not defined